@using Examples.Navigation.Horizontal.WebUI.Client.Components.TopNavBar
@inherits LayoutComponentBase

<div class="page">
  <TopNavBar />
  <div class="container-fluid main-content">
    @Body
  </div>
  <div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
  </div>
</div>
