@page "/"

<PageTitle>Horizontal Navigation Bar</PageTitle>

<h1>An example of a horizontal navigation bar</h1>
<p>
  This example demonstrates how to create a horizontal navigation bar using Blazor components.
  The navigation bar allows users to easily navigate between different pages of the application.
</p>
<p>
  Navigation bar is pure css and c#.
  No JavaScript.
</p>
